<div class="container ajust-footer my-2">
    <div class="row">
      <div class="col-md-12">
        <div class="row justify-content-between">
          <div class="col">
            <button class="btn btn-success my-3" data-bs-toggle="modal" data-bs-target="#modalEntrada">
              <i class="fa fa-plus pe-2"></i>
              Entrada
            </button>
            <button class="btn btn-danger my-3" data-bs-toggle="modal" data-bs-target="#modalSaida">
              <i class="fa fa-plus pe-2"></i>
              Saída
            </button>
            
          </div>
        </div>
        <table class="table table-striped table-hover align-middle text-start">
          <thead>
            <tr>
              <td class="col columns-list">*</td>
              <td class="col columns-list">Placa</td>
              <td class="col columns-list">Data Entrada</td>
              <td class="col columns-list">Data Saída</td>
              <td class="col columns-list">Duração (Hora)</td>
              <td class="col columns-list">Tempo Cobrado</td>
              <td class="col columns-list">Preço Hora</td>
              <td class="col columns-list">Valor</td>
              <td class="col columns-list">Ações</td>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let veiculo of veiculos">
              <td class="line-list"> {{ veiculo.id }} </td>
              <td class="line-list"> {{ veiculo.placa }} </td>
              <td class="line-list"> {{ formatDate(veiculo.dataEntrada) }} </td>
              <td class="line-list"> {{ formatDate(veiculo.dataSaida) }} </td>
              <td class="line-list"> {{ veiculo.duracao }} </td>
              <td class="line-list"> {{ veiculo.tempoCobrado }} </td>
              <td class="line-list"> {{ formatCurrency(veiculo.precoHora) }} </td>
              <td class="line-list"> {{ formatCurrency(veiculo.valorTotal) }} </td>
              <td class="d-flex justify-content-start line-list">
                <button type="button" class="btn btn-danger mx-4 px-4" data-bs-toggle="modal" data-bs-target="#modalDelecao" (click)="preparaDelecao(veiculo)">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button
                type="button"
                class="btn btn-warning mx-4 px-4"
                data-bs-toggle="modal"
                data-bs-target="#modalEdicao"
                (click)="preparaEdicao(veiculo)"
              >
                <i class="fa-solid fa-pen"></i>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmação de Deleção</h4>
        </div>
        <div class="modal-body" *ngIf="veiculoSelecionado">
          Confirmar a deleção da placa: {{ veiculoSelecionado.placa }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-danger" (click)="excluirTabelaPreco()" data-bs-dismiss="modal">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEntrada" tabindex="-1" aria-labelledby="modalEntradaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEntradaLabel">Cadastro de Entrada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="mensagemEntrada" class="alert alert-{{ tipoAlertaEntrada }} alert-dismissible fade show" role="alert">
            {{ mensagemEntrada }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          
          <form (ngSubmit)="cadastrarEntrada()">
            <div class="mb-3">
              <label for="placaEntrada" class="form-label">Placa do Veículo</label>
              <input type="text" class="form-control" id="placaEntrada" [(ngModel)]="veiculoEntrada.placa" name="placaEntrada" required>
            </div>
            <div class="mb-3">
              <label for="dataEntrada" class="form-label">Data de Entrada</label>
              <input type="datetime-local" class="form-control" id="dataEntrada" [(ngModel)]="veiculoEntrada.dataEntrada" name="dataEntrada" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Entrada</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalSaida" tabindex="-1" aria-labelledby="modalSaidaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalSaidaLabel">Cadastro de Saída</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="mensagemSaida" class="alert alert-{{ tipoAlertaSaida }} alert-dismissible fade show" role="alert">
            {{ mensagemSaida }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <form (ngSubmit)="cadastrarSaida()">
            <div class="mb-3">
              <label for="placaSaida" class="form-label">Placa do Veículo</label>
              <input type="text" class="form-control" id="placaSaida" [(ngModel)]="veiculoSaida.placa" name="placaSaida" required>
            </div>
            <div class="mb-3">
              <label for="dataSaida" class="form-label">Data de Saída</label>
              <input type="datetime-local" class="form-control" id="dataSaida" [(ngModel)]="veiculoSaida.dataSaida" name="dataSaida" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Saída</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEdicao" tabindex="-1" aria-labelledby="modalEdicaoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEdicaoLabel">Edição de Veículo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div *ngIf="mensagemEdicao" class="alert alert-{{ tipoAlertaEdicao }} alert-dismissible fade show" role="alert">
            {{ mensagemEdicao }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <form (ngSubmit)="editarVeiculo()">
            <div class="mb-3">
              <label for="placaEdit" class="form-label">Placa do Veículo</label>
              <input type="text" class="form-control" id="placaEdit" [(ngModel)]="veiculoSelecionado.placa" name="placaEdit" required>
            </div>
            <div class="mb-3">
              <label for="dataEntradaEdicao" class="form-label">Data de Entrada</label>
              <input type="datetime-local" class="form-control" id="dataEntradaEdicao" [(ngModel)]="veiculoSelecionado.dataEntrada" name="dataEntradaEdicao">
            </div>
            <div class="mb-3">
              <label for="dataSaidaEdicao" class="form-label">Data de Saída</label>
              <input type="datetime-local" class="form-control" id="dataSaidaEdicao" [(ngModel)]="veiculoSelecionado.dataSaida" name="dataSaidaEdicao">
            </div>
            <button type="submit" class="btn btn-primary">Salvar Edição</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    
</div>

 